<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/inicio.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
        
    </head>
    <body background-image: url({{ url_for('static', filename='imgages/m2.jpg') }})>
        <main  class="container p-4" >
            <h1 class="display-4 text-center title mt-4" style="color: white">Web service</h1>
            <div class="row">
                <div class="col-md-4 offset-md-4 my-auto">
                    <div >
                        <div >
                            <form action="/users/list" method="GET">
                                <button type="submit" class="btn btn-primary btn-block" >
                                    Ver lista
                                </button>

                            </form>
                            <br>
                            <div>
                                <form action="/api/v1/users" method="GET">
                                    <button type="submit" class="btn btn-primary btn-block" >
                                        Ver lista con Json
                                    </button>
                                </form>
                            </div>
                            
            
                           
                          </div>
                    </div>

                </div>
            </div>
    </main>

    </body>
</html>