<head>
    <title>Lista de estudiantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tabla.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">


</head>
<body>
    <h2 style="color: white">ESTUDIANTES DE ARQUITECTURAS DE SOFTWARE</h2>
    <div class="container">
        <table class="text-center">
            <thead>
                <tr>
                    <td>Firstname</td>
                    <td>Lastname</td>
                    <td>username</td>
                    <td>email</td>
                    <td>password</td>
                </tr>
            </thead>
            <tbody>
                {% for dato in data %}

                <tr class="datos">
                    <td style="color: black">{{dato.0}}</td>
                    <td style="color: black">{{dato.1}}</td>
                    <td style="color: black">{{dato.2}}</td>
                    <td style="color: black">{{dato.3}}</td>
                    <td style="color: black">{{dato.4}}</td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
        <form form action="/" method="GET">
            <button type="submit" class="btn btn-primary btn-block" >
                volver
            </button>
        </form>
    </div>
</body>